<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX8uTwlHkS8EhFxNfTbpfS960HjHGEiEU</string>
	<key>GCM_SENDER_ID</key>
	<string>884339429918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edukid</string>
	<key>PROJECT_ID</key>
	<string>edukid-60f55</string>
	<key>STORAGE_BUCKET</key>
	<string>edukid-60f55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884339429918:ios:ccfd3bcbe495c848e7140f</string>
</dict>
</plist>